<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplication</string>
		<string>com.rexsheng.template.additions.RSMenuControllerIntegrations</string>
		<string>com.rexsheng.template.additions.RSMenuViewIntegrations</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.h:import:GetAppDelegate</key>
		<string>#define GetAppDelegate() ( (___VARIABLE_classPrefix:identifier___AppDelegate *)[[UIApplication sharedApplication] delegate] )
</string>

		<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions</key>
		<dict>
			<key>Beginning</key>
			<string>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
	NSString *shortVersion = [[NSBundle mainBundle] objectForInfoDictionaryKey:@"CFBundleShortVersionString"];
	NSString *version = [[NSBundle mainBundle] objectForInfoDictionaryKey:@"CFBundleVersion"];
	NSLog(@"v%@ (%@)", shortVersion, version);
	
	NSURLCache *URLCache = [[NSURLCache alloc] initWithMemoryCapacity:8 * 1024 * 1024 diskCapacity:20 * 1024 * 1024 diskPath:nil];
	[NSURLCache setSharedURLCache:URLCache];
    
	self.window = ___RP___[[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]]___AR___;
	// Override point for customization after application launch.
	self.window.backgroundColor = [UIColor whiteColor];</string>
			<key>End</key>
			<string>	[self.window makeKeyAndVisible];
	return YES;
}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		
		<key>Classes/UIColor+Hex.h</key>
		<dict>
			<key>Path</key>
			<string>UIColor+Hex.h</string>
			<key>Group</key>
			<string>Categories</string>
		</dict>
		
		<key>Classes/UIColor+Hex.m</key>
		<dict>
			<key>Path</key>
			<string>UIColor+Hex.m</string>
			<key>Group</key>
			<string>Categories</string>
		</dict>
		
		<key>Classes/UIImage+___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>UIImage.h</string>
			<key>Group</key>
			<string>Categories</string>
		</dict>
		
		<key>Classes/UIImage+___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>UIImage.m</string>
			<key>Group</key>
			<string>Categories</string>
		</dict>
		
		<key>___PACKAGENAME___-Prefix.pch:objC:importCategories</key>
		<string>#import "UIColor+Hex.h"
#import "UIImage+___PACKAGENAMEASIDENTIFIER___.h"</string>

	</dict>
	
	<key>Description</key>
	<string>This template provides a starting point for any application. It provides just an application delegate and a window.</string>
	<key>Identifier</key>
	<string>com.rexsheng.dt.unit.menuApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importCategories</string>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:5</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:import:GetAppDelegate</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:import:AFNetworkActivityIndicatorManager.h</string>
		<string>Classes/UIColor+Hex.h</string>
		<string>Classes/UIColor+Hex.m</string>
		<string>Classes/UIImage+___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>Classes/UIImage+___PACKAGENAMEASIDENTIFIER___.m</string>
	</array>
</dict>
</plist>
