<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Identifier</key>
		<string>com.rexsheng.template.additions.GitIntegrations</string>
		<key>Name</key>
		<string>GitIntegrations</string>
		<key>Ancestors</key>
		<array>
		</array>
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Definitions</key>
		<dict>
			<key>../.gitignore</key>
			<dict>
				<key>Beginning</key>
				<string># Xcode
.DS_Store
*.swp
*~.nib

build/
test-reports/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata</string>
				<key>TargetIndices</key>
				<array/>
				<key>Group</key>
				<array>
					<string>-delete or reimport these groups-</string>
					<string>git</string>
				</array>
			</dict>
			
			<key>../.gitmodules</key>
			<dict>
				<key>Beginning</key>
				<string></string>
				<key>TargetIndices</key>
				<array/>
				<key>Group</key>
				<array>
					<string>-delete or reimport these groups-</string>
					<string>git</string>
				</array>
			</dict>
		</dict>
		<key>Options</key>
		<array>
		</array>
		<key>Nodes</key>
		<array>
			<string>../.gitignore</string>
			<string>../.gitmodules</string>
		</array>
		<key>SortOrder</key>
		<integer>1</integer>
		
	</dict>
</plist>